<%- include('header.ejs') %>
<main class="mw">
    <h2>THE BLOG</h2>
    <h3>블로그 글 작성</h3>
    <form action="/write" method="post" class="writecon" enctype="multipart/form-data">
        <label for="title">제목</label>
        <input type="text" name="title" id="title" placeholder="제목을 입력해주세요" required >
        <label for="postImg">이미지첨부</label>
        <input type="file" id="postImg" name="postImg">
        <label for="content">내용</label>
        <textarea name="content" id="content" placeholder="내용을 입력해 주세요"></textarea>
        <label for="createAtDate" hidden>작성일</label>
        <input type="date" id="createAtDate" name="createAtDate" hidden>
        
        <button type="submit">글작성</button>
    </form>
</main>

<script>
    // const user = req.user ? req.user : null;
    const createAtDate = document.querySelector('#createAtDate')
    const today = new Date().toISOString().slice(0,10)
    createAtDate.value=today
</script>
<%- include('footer.ejs') %>